.wrap {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}

.content {
    width: 780px;
    float: left;
}

.slide {
    width: 200px;
    float: right;
}
#sideToolbar-up {
    background: url("../imgs/sideToolbar.gif") no-repeat scroll -1px -62px;
/*rgba(0, 0, 0, 0);*/
    border-radius: 2px;
    display: block;
    height: 45px;
    margin-left: 10px;
    width: 45px;
}
#sideToolbar-up:hover {
    background:transparent url("../imgs/sideToolbar.gif") -74px -62px no-repeat
}
.sideCatalogBtnDisable {
    background:transparent url("../imgs/sideToolbar.gif") -104px 0 no-repeat!important
}
a.sideCatalogBtnDisable:hover {
    background:transparent url("../imgs/sideToolbar.gif") -154px 0 no-repeat!important
}
#sideCatalogBtn {
    background: url("../imgs/sideToolbar.gif") no-repeat scroll 0 0;
    cursor: pointer;
    height: 45px;
    margin-bottom: 5px;
    margin-left: 10px;
    position: relative;
    width: 45px;
    display: block;
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    bottom: 0;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top, #sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    background: url("../imgs/sideToolbar.gif") no-repeat scroll 0 -199px;
    /*rgba(0, 0, 0, 0);*/
    height: 10px;
    left: -5px;
    overflow: hidden;
    position: absolute;
    width: 10px;
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
    cursor: pointer;
    top: 0;
}

#sideCatalog-catalog {
    height: 230px;
    top: 18px;
    overflow: hidden;
    padding-left: 23px;
    position: relative;
}
#sideCatalog-catalog dl {
    position: relative;
}

#sideCatalog span.sideCatalog-index1 {
    color: #999999;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
}

#sideCatalog .sideCatalog-item1 a {
    color: #555555;
    font-weight: bold;
}
#sideCatalog .sideCatalog-item1 a, #sideCatalog .sideCatalog-item2 a {
    text-decoration: none;
}
.sideCatalog-dot {
    background: url("../imgs/sideToolbar.gif") repeat scroll 0 -222px;
/*rgba(0, 0, 0, 0);*/
    cursor: pointer;
    font-size: 12px;
    height: 10px;
    left: -20px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 6px;
}

#sideCatalog .sideCatalog-item2 span.sideCatalog-dot {
}
#sideCatalog .highlight span.sideCatalog-dot {
    background: url("../imgs/sideToolbar.gif") no-repeat scroll -271px -38px;
/*rgba(0, 0, 0, 0);*/
    height: 13px;
    left: -23px;
    top: 3px;
    width: 18px;
}

#sideCatalog #sideCatalog-sidebar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EAEAEA;
    border-color: -moz-use-text-color #EAEAEA;
    border-image: none;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-style: none solid;
    border-width: 0 1px;
    height: 258px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 0;
}
#sideCatalog-updown {
    bottom: 160px;
    height: 50px;
    position: absolute;
    right: 60px;
    width: 22px;
    z-index: 100;
}

#sideCatalog-up {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.sideCatalog-up-disable {
    background: url("../imgs/sideToolbar.gif") no-repeat scroll -272px -83px;
/*rgba(0, 0, 0, 0);*/
}

#sideCatalog-down {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.sideCatalog-down-enable {
    background: url("../imgs/sideToolbar.gif") no-repeat scroll -245px -108px;
/*rgba(0, 0, 0, 0);*/
}
#sideCatalog {
    font-family: '宋体';
    font-size: 14px;
    height: 260px;
    left: 10px;
    line-height: 19px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 290px;
}

.sideCatalog-item2 {
    padding-left: 21px;
}
.sideCatalog-item1, .sideCatalog-item2 {
    margin: 0 0 6px;
    padding: 0 7px;
    position: relative;
}
.sideCatalog-down-disable {
    background: url("../imgs/sideToolbar.gif") no-repeat scroll -272px -108px;
/*rgba(0, 0, 0, 0);*/
}
.sideCatalog-up-enable {
    background: url("../imgs/sideToolbar.gif") no-repeat scroll -245px -83px;
/*rgba(0, 0, 0, 0);*/
}

.headline-1 {
    clear: both;
    font-family: '微软雅黑,黑体,Verdana';
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    margin: 65px 0 18px;
    position: relative;
}
.sideCatalog-item2 .sideCatalog-dot {
    background: none repeat scroll 0 center;
/*rgba(0, 0, 0, 0);*/
}
#sideCatalog-catalog dl dd:hover{
    background-color: #f6f6f6;
}

.anchor-1, .anchor-2{
    display: block;
    position: relative;
}